*{
    margin: auto;
    width: fit-content;
    box-sizing: border-box;
    color: rgb(53, 48, 48);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
:root{
    --primary-light: rgb(209, 183, 183);
    --display-light: rgb(148, 134, 134);
    --primary-dark: rgb(14, 10, 10);
    --display-dark: rgb(29, 26, 26);
    --primary-color-dark: rgb(143, 101, 101);
    --brown: rgb(90, 24, 24);
}
html, body{
    width: 100%;
    height: 100%;
}

.container{
    width: 100%;
    height: 100%;
    display: flex;
}

.container .nav{
    background-color: var(--primary-light);
    color: white;
    height: 100%;
    padding: 10px;
}

.nav .profile{
    display: flex;
    border: 1px solid white;
    border-radius: 20px;
}

.nav .profile .image{
    width: 50px;
    height: 50px;
    border: 1px solid white;
    border-radius: 50%;
    overflow: hidden;
}

.nav .profile .image img{
    width: 100%;
    height: 100%;
    color: var(--primary-color-dark);
}

.nav .profile .detail{
    width: 200px;
    text-align: center;
    display: none;
}

.nav .profile .detail .name{
    font-weight: bold;
    color: var(--primary-color-dark);
}

.profile .detail .email{
    font-size: x-small;
    text-decoration: underline;
    color: wheat;
}


.nav .nav-items{
    margin: 20px auto;
}
.nav .nav-items .item{
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    transition: 0.3s ease-in;
    margin: 10px auto;
}

.item .icon{
    width: 20px;
    height: 20px;
}

.item .icon img{
    width: 100%;
    height: 100%;
}

.item .text{
    width: 200px;
    text-align: center;
    
    /* need to block when click or hover */
    display: none;
}

.nav:hover .detail {
    display: block;
}
.nav:hover .text{
    display: block;
}

.nav .nav-items .item:hover{
    background-color: var(--primary-color-dark);
    cursor: pointer;
    box-shadow: 0px 10px 10px;
    transform: scale(1.05);
}
/* navigation */


.container .display{
    width: 100%;
    height: 100%;
    background-color: var(--display-light);
}


.display .display-data{
    display: none;
    color: white;
}

.display #display-home{
    background-color: rgb(223, 201, 201);
}
.display #display-courses{
    padding: 10px;
    width: 100%;
    height: 100%;
    background-color: rgb(92, 53, 53);
    overflow-y: scroll;
    text-align: center;
}

#display-courses .card{
    width: 250px;
    display: inline-block;
    height: 400px;
    border: 1px solid whitesmoke;
    box-shadow: 0 0 10px white;
    background-color: var(--brown);
    overflow: hidden;
    border-radius: 20px;
    transition: 0.3s ease-in;
    margin: 20px;
}

.card .image{
    width: 100%;
    height: 200px;
    overflow: hidden;
}

.card .image img{
    width: 100%;
}

.card .title{
    color: white;
    font-weight: bold;
    padding: 10px;
}

.card .info{
    color: wheat;
    text-align: justify;
    padding: 10px;
    height: 100px;
    overflow: scroll;
}

.card .rating{
    color: white;
    position: relative;
    top: 25px;
    left: -60px;
    font-weight: bold;
    text-shadow: 0 0 5px;
}
.rating::before{
    content: "Rate - ";
}

.card .course-level{
    color: white;
    position: relative;
    top: 10px;
    left: 60px;
    font-size: 0.8em;
    text-shadow: 0 0 10px;
}

.course-level::before{
    content: "Level - ";
}

.card:hover{
    box-shadow: 0 0 50px white;
    transform: scale(1.1);
}

/* courses */

.display #display-quiz{
    background-color: rgb(151, 52, 52);
}
.display #display-projects{
    background-color: rgb(25, 146, 14);
}