*{
    margin: auto;
    width: fit-content;
    box-sizing: border-box;
    color: rgb(53, 48, 48);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
:root{
    --primary-light: rgb(236, 246, 249);
    --display-light: rgb(200, 215, 246);
    --secondary-light: rgb(199, 237, 229);
    --color-dark: rgb(57, 31, 31);
}
html, body{
    width: 100%;
    height: 100%;
}

.container{
    width: 100%;
    height: 100%;
    display: flex;
}

.container .nav{
    background-color: var(--primary-light);
    color: white;
    height: 100%;
    padding: 10px;
    width: 80px;
    transition: 0.3s ease-in;
}

.nav .profile{
    display: flex;
    border: 1px solid white;
    border-radius: 20px;
}

.nav .profile .image{
    width: 50px;
    height: 50px;
    border: 1px solid white;
    border-radius: 50%;
    overflow: hidden;
}

.nav .profile .image img{
    width: 100%;
    height: 100%;
    color: var(--primary-color-dark);
}

.nav .profile .detail{
    width: 200px;
    text-align: center;
    display: none;
}

.nav .profile .detail .name{
    font-weight: bold;
    color: var(--primary-color-dark);
}

.profile .detail .email{
    font-size: x-small;
    text-decoration: underline;
    color: rgb(48, 46, 42);
}

.nav:hover{
    width: 300px;
}

.nav .nav-items{
    height: 85%;
    margin: 20px auto;
}
.nav .nav-items .item{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 10%;
    padding: 10px;
    border-radius: 10px;
    transition: 0.3s ease-in;
    margin: 10px auto;
}

.item .icon{
    width: 20px;
    height: 20px;
}

.nav-items .logout{
    width: 100%;
    height: 50%;
    /* background-color: red; */
    display: flex;
    flex-direction: column;
    justify-content: end;
    box-sizing: border-box;
}

.logout div{
    width: 100%;
    margin: 10px auto;
    padding: 10px;
    cursor: pointer;
    text-align: center;
}

.logout div:hover{
    transform: scale(1.1);
    background-color: rgba(10, 28, 25, 0.363);
    padding: 10px;
    border-radius: 20px;
}

.logout div:hover i{
    color: white;
}

.item .text{
    width: 200px;
    text-align: center;
    
    /* need to block when click or hover */
    display: none;
}

.nav:hover .detail {
    display: block;
}
.nav:hover .text{
    display: block;
}

.nav .nav-items .item:hover{
    background-color: var(--display-light);
    cursor: pointer;
    box-shadow: 0px 10px 10px;
    transform: scale(1.05);
}
/* navigation */


.container .display{
    width: 100%;
    height: 100%;
    padding-top: 0;
    background-color: var(--display-light);
}


.display .display-data{
    display: none;
    color: white;
    margin-top: -10px;
}

.display #display-home{
    width: 100%;
    height: 100%;
    overflow-y: scroll;
}

.dashboard {
    background-color: var(--secondary-light);
    padding: 50px;
    width: 100%;
    height: 100%;
}

.dashboard .welcome {
    width: 80%;
    height: 150px;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    background-color: var(--primary-light);
    box-shadow: 0 0 20px rgb(224, 219, 219);
}

.welcome .text {
    width: 70%;
    font-size: 1.5em;
    color: var(--color-dark);
    padding: 50px;
    text-align: center;
    text-shadow: 0 0 20px;
    font-weight: bold;
}

.welcome .text small {
    color: burlywood;
}

.welcome .profile {
    width: 100px;
    height: 90%;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 0 10px white;
}

.profile img {
    width: 100%;
    height: 100%;
}

.details {
    margin: 20px auto;
    width: 90%;
    display: flex;
}

.details .results {
    width: 50%;
    height: 400px;
    border-radius: 10px;
    box-shadow: 0 0 5px ;
    background-color: var(--secondary-light);
}

.results:hover {
    transform: scale(1.005);
    box-shadow: 0 0 20px var(--color-dark);
}

.results .result-option {
    display: flex;
    width: 100%;
    margin: 20px auto;
}

.results div,
.results label {
    color: var(--color-dark);
    font-weight: bold;
}

.result-option h2 {
    width: 100%;
    padding-left: 30px;
    color: var(--color-dark);
    /* background-color: white; */
}

.result-option .full-result {
    font-size: 0.8em;
    width: 150px;
    cursor: pointer;
    /* background-color: red; */
}

.full-result:hover {
    color: rgb(39, 78, 78);
}

.results .result {
    margin: 15px auto;
}

.results .result-detail{
    width: 100%;
    height: 50%;
    overflow: scroll;
    margin: 20px auto;
}


.result-detail .result{
    width: 90%;
    display: flex;
}

.result label{
    width: 50%;
}

.result progress{
    width: 50%;
}


.br-line{
    width: 80%;
    height: 5px;
    margin: 20px auto;
    border-radius: 50%;
    background-color: var(--color-dark);
}

.results .my-courses{
    display: flex;
    width: 100%;
    flex-direction: column;
}

.my-courses .head{
    display: flex;
    width: 100%;
}

.head h2{
    width: 80%;
}

.head .see-all{
    width: fit-content;
    cursor: pointer;
}

.see-all:hover{
    color: white;
}

.courses{
    width: 100%;
    text-align: center;
    /* margin: 20px auto; */
}


.courses .course{
    display: inline-block;
    width: 40%;
    padding: 10px;
    margin: 10px;
    border-radius: 20px;
    box-shadow: 0 0 10px var(--primary-light);
    background-color: var(--primary-light);
}

.details .schedule {
    width: 40%;
    background-color: var(--secondary-light);
    height: 400px;
    overflow: scroll;
    border-radius: 10px;
    box-shadow: 0 0 5px var(--color-dark);
}

.schedule:hover {
    transform: scale(1.005);
    box-shadow: 0 0 20px var(--color-dark);
}

.schedule h2 {
    color: var(--color-dark);
}

.schedule .my-schedules{
    width: 100%;
    height: 100%;
    overflow: scroll;
}

.my-schedules .add-schedule{
    display: flex;
    margin: 10px auto;
    height: 35px;
    overflow: hidden;
}

.my-schedules .schedules{
    width: 100%;
}

.schedules .task{
    width: 100%;
    padding: 10px;
    display: flex;
    text-align: center;
}

.task .name{
    width: 40%;
    padding: 10px;
    font-weight: bold;
}

.task .hr{
    padding: 10px;
    width: 40%;
}

.task .hr::after{
    content: " hr";
}

.task .finished{
    width: 20%;
    border-radius: 50%;
    cursor: pointer;
}

.task .finished:hover{
    transform: scale(1.1);
    background-color: rgb(246, 10, 10);
    padding: 10px;
    color: white;
}

.task .finished:hover i{
    color: white;
}

.schedules .primary{
    background-color: rgba(255, 0, 0, 0.587);
}


.schedules .secondary{
    background-color: rgba(204, 101, 101, 0.664);
}

.schedules .normal{
    background-color: white;
}

.schedules .hr::before{
    content: " - ";
}

.add-schedule .schedule-input{
    width: 70%;
}

.add-schedule input{
    width: 100%;
    border: none;
    padding: 10px;
    position: relative;
    
}

.add-schedule .hr{
    width: 20%;
}

.add-schedule .add{
    width: 10%;
    display: flex;
    cursor: pointer;
    justify-content: center;
    background-color: var(--primary-light);
    height: 100%;
}

.add-schedule .add:hover{
    transform: scale(1.1);
    background-color: var(--display-light);
}


@media screen and (max-width: 600px) {
    .display #display-home{
        width: 100%;
        height: 100%;
        margin: 0;
    }
    #display-home .dashboard{
        padding: 0;
        width: 100%;
        height: 100%;
    }
    .dashboard .welcome{
        width: 90%;
        height: auto;
        display: block;
        margin: 10px auto;
    }
    .welcome .text {
        font-size: 0.8em;
        width: 100%;
        padding: 0;
        margin: 10px auto;
        
    }
    .welcome .profile{
        display: none;
    }
    .details{
        display: block;
    }
    .details .results{
        width: 100%;
    }

    .details  .schedule{
        width: 100%;
        margin: 10px auto;
    }
}

/* home */
.display #display-courses{
    padding: 10px;
    width: 100%;
    height: 100%;
    background-color: var(--display-light);
    overflow-y: scroll;
    scroll-behavior: smooth;
    text-align: center;
}

.search{
    width: 60%;
}
.search input{
    width: 100%;
    padding: 10px;
    border: 1px solid var(--primary-light);
    border-radius: 20px;
}



#display-courses .card{
    width: 250px;
    display: inline-block;
    height: 400px;
    border: 1px solid whitesmoke;
    box-shadow: 0 0 10px var(--color-dark);
    background-color: var(--primary-light);
    overflow: hidden;
    border-radius: 20px;
    transition: 0.3s ease-in;
    margin: 20px;
    cursor: pointer;
}

.card .image{
    width: 100%;
    height: 200px;
    overflow: hidden;
}

.card .image img{
    width: 100%;
    height: 100%;
}

.card .title{
    color: var(--color-dark);
    font-weight: bold;
}

.card .title small{
    color: var(--color-dark);
    font-family: monospace;
    font-weight: bold;
    display: block;
}

.card .info{
    color: var(--color-dark);
    text-align:start;
    padding: 10px;
    height: 100px;
    overflow: scroll;
}

.card .rating{
    color: var(--color-dark);
    position: relative;
    top: 25px;
    left: -70px;
    font-weight: bold;
    text-shadow: 0 0 5px;
}
.rating::before{
    content: "Rate - ";
}

.card .course-level{
    color: var(--color-dark);
    position: relative;
    top: 10px;
    left: 50px;
    font-size: 0.8em;
    text-shadow: 0 0 10px;
    text-shadow: 5px 5px 10px rgb(34, 32, 32);
}

.course-level::before{
    content: "Level - ";
}

.card:hover{
    box-shadow: 0 0 50px var(--color-dark);
    transform: scale(1.05);
}

.card:hover .image{
    transition: 0.4s ease-out;
    transform: scale(1.1);
}

/* courses */

.display #display-quiz{
    background-color: rgb(151, 52, 52);
}
.display #display-projects{
    background-color: var(--secondary-light);
    height: 100%;
    width: 100%;
    padding: 10px;
    display: flex;
    flex-direction: column;
}

.is-upload{
    background-color: var(--color-dark);
    color: white;
    font-size: 1em;
    padding: 15px;
    border-radius: 10px;
    margin: 10px;
    cursor: pointer;
}

.is-upload:hover{
    background-color: var(--primary-light);
    color: var(--color-dark);
}

.upload-project{
    display: none;
    width: 100%;
    height: 50%;
    overflow: hidden;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.427);
    flex-direction: column;
}
.upload-project :where(div, label, textarea, input){
    width: 100%;
    padding: 10px;
    border: none;
    margin: 10px auto;
    border-radius: 10px;
}

.upload-project input[type=button]{
    width: 50%;
    display: block;
    font-weight: bold;
    margin: auto;
    cursor: pointer;
}

/* project upload form */

.projects{
    height: 50%;
    overflow: scroll;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.projects .project{
    width: 20%;
    height: 300px;
    padding: 10px;
    overflow: hidden;
    box-shadow: 0 0 10px var(--color-dark);
    background-color: white;
}

.project .title{
    font-size: 1,5em;
    font-weight: bold;
    height: 10%;
}
.project .screen-shot{
    width: 100%;
    height: 50%;
}

.screen-shot img{
    width: 100%;
    height: 100%;
}

.project .description{
    height: 25%;
    overflow: scroll;
    font-size: 0.7em;
}

.project .option{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 10%;
    margin: 10px auto;
}

.project .option div{
    width: 40%;
    text-align: center;
    background-color: rgba(128, 128, 128, 0.451);
    padding: 10px;
    font-size: 0.8em;
    border-radius: 10px;
    color: white;
    font-weight: bold;
    cursor: pointer;
}

.project .option div:hover{
    transition: 0.3s ease-in;
    background-color: wheat;
}

/* show-project */
/* display project */

.edit-profile {
    width: 100%;
    position: absolute;
    top: 0;
    background-color: rgba(46, 42, 42, 0.838);
    height: 100%;
    display: none;
    justify-content: center;
    align-items: center;
}

.edit-profile .edit-form {
    width: 50%;
    padding: 50px;
    border-radius: 20px;
    background-color: rgba(34, 26, 11, 0.394);
}

.edit-form h1{
    width: fit-content;
    color: rgb(157, 181, 167);
    font-family: 'Courier New', Courier, monospace;
}

.edit-form .back{
    margin-left: 0;
}

.edit-form .back i{
    color: white;
    font-size: 2em;
    width: 100%;
}

.edit-form .back:hover{
    transform: scale(1.1);
    cursor: pointer;
}

.edit-form:hover{
    transition: 0.4s ease-out;
    box-shadow: 0 0 10px;
}

.edit-form :where(.profile-image, .edit-username, .edit-email, .save-change) {
    width: 100%;
    margin: 10px auto;
}

.edit-form input {
    padding: 20px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    width: 100%;
}

.edit-form .profile-image .image {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: rgb(225, 215, 215);
    overflow: hidden;
}


.profile-image .image img {
    width: 100%;
    height: 100%;
}


@media screen and (max-width: 600px) {
    .edit-profile .edit-form {
        width: 90%;
        padding: 50px;
        border-radius: 20px;
        background-color: rgba(34, 26, 11, 0.394);
    }
}

/* profile edit */
