*{
    margin: auto;
    width: fit-content;
    box-sizing: border-box;
    color: rgb(53, 48, 48);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
:root{
    --primary-light: rgb(113, 141, 150);
    --display-light: rgb(148, 134, 134);
    --primary-dark: rgb(14, 10, 10);
    --display-dark: rgb(29, 26, 26);
    --primary-color-dark: rgb(143, 101, 101);
    --brown: rgb(90, 24, 24);
}
html, body{
    width: 100%;
    height: 100%;
}

.container{
    width: 100%;
    height: 100%;
    display: flex;
}

.container .nav{
    background-color: var(--primary-light);
    color: white;
    height: 100%;
    padding: 10px;
    width: 80px;
    transition: 0.3s ease-in;
}

.nav .profile{
    display: flex;
    border: 1px solid white;
    border-radius: 20px;
}

.nav .profile .image{
    width: 50px;
    height: 50px;
    border: 1px solid white;
    border-radius: 50%;
    overflow: hidden;
}

.nav .profile .image img{
    width: 100%;
    height: 100%;
    color: var(--primary-color-dark);
}

.nav .profile .detail{
    width: 200px;
    text-align: center;
    display: none;
}

.nav .profile .detail .name{
    font-weight: bold;
    color: var(--primary-color-dark);
}

.profile .detail .email{
    font-size: x-small;
    text-decoration: underline;
    color: wheat;
}

.nav:hover{
    width: 300px;
}

.nav .nav-items{
    margin: 20px auto;
}
.nav .nav-items .item{
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    transition: 0.3s ease-in;
    margin: 10px auto;
}

.item .icon{
    width: 20px;
    height: 20px;
}

.item .icon img{
    width: 100%;
    height: 100%;
}

.item .text{
    width: 200px;
    text-align: center;
    
    /* need to block when click or hover */
    display: none;
}

.nav:hover .detail {
    display: block;
}
.nav:hover .text{
    display: block;
}

.nav .nav-items .item:hover{
    background-color: var(--primary-color-dark);
    cursor: pointer;
    box-shadow: 0px 10px 10px;
    transform: scale(1.05);
}
/* navigation */


.container .display{
    width: 100%;
    height: 100%;
    background-color: var(--display-light);
}


.display .display-data{
    display: none;
    color: white;
}

.display #display-home{
    width: 100%;
    height: 100%;
    overflow-y: scroll;
}

.dashboard {
    background-image: url(../images/back.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    
    padding: 50px;
    width: 100%;
    height: 100%;
}

.dashboard .welcome {
    width: 80%;
    height: 150px;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    background-color: var(--primary-light);
    box-shadow: 0 0 20px rgb(224, 219, 219);
}

.welcome .text {
    width: 70%;
    font-size: 1.5em;
    color: rgb(223, 228, 212);
    padding: 50px;
    text-align: center;
    text-shadow: 0 0 20px;
}

.welcome .text small {
    color: burlywood;
}

.welcome .profile {
    width: 100px;
    height: 90%;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 0 10px white;
}

.profile img {
    width: 100%;
    height: 100%;
}

.details {
    margin: 20px auto;
    width: 80%;
    display: flex;
}

.details .results {
    width: 50%;
    height: 400px;
    border-radius: 10px;
    box-shadow: 0 0 20px ;
    background-color: var(--primary-light);
}

.results:hover {
    transform: scale(1.005);
    box-shadow: 0 0 20px rgb(221, 221, 217);
}

.results .result-option {
    display: flex;
    width: 100%;
    margin: 20px auto;
}

.results div,
.results label {
    color: rgb(230, 236, 235);
    font-weight: bold;
}

.result-option h2 {
    width: 100%;
    padding-left: 30px;
    color: white;
    /* background-color: white; */
}

.result-option .full-result {
    font-size: 0.8em;
    width: 150px;
    cursor: pointer;
    /* background-color: red; */
}

.full-result:hover {
    color: aqua;
}

.results .result {
    margin: 15px auto;
}

.results .result-detail{
    width: 100%;
}

.results .my-courses h2{
    color: whitesmoke;
}

.details .schedule {
    width: 40%;
    background-color: var(--primary-light);
    height: 400px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgb(133, 133, 132);
}

.schedule:hover {
    transform: scale(1.005);
    box-shadow: 0 0 20px rgb(221, 221, 217);
}

.schedule h2 {
    color: whitesmoke;
}


@media screen and (max-width: 600px) {
    .welcome .text {
        font-size: 0.8em;
        width: 70%;
    }
}

/* home */
.display #display-courses{
    padding: 10px;
    width: 100%;
    height: 100%;
    background-color: var(--display-light);
    overflow-y: scroll;
    scroll-behavior: smooth;
    text-align: center;
}

#display-courses .card{
    width: 250px;
    display: inline-block;
    height: 400px;
    border: 1px solid whitesmoke;
    box-shadow: 0 0 10px white;
    background-color: var(--brown);
    overflow: hidden;
    border-radius: 20px;
    transition: 0.3s ease-in;
    margin: 20px;
    cursor: pointer;
}

.card .image{
    width: 100%;
    height: 200px;
    overflow: hidden;
}

.card .image img{
    width: 100%;
}

.card .title{
    color: white;
    font-weight: bold;
    padding: 10px;
}

.card .info{
    color: wheat;
    text-align: justify;
    padding: 10px;
    height: 100px;
    overflow: scroll;
}

.card .rating{
    color: white;
    position: relative;
    top: 25px;
    left: -60px;
    font-weight: bold;
    text-shadow: 0 0 5px;
}
.rating::before{
    content: "Rate - ";
}

.card .course-level{
    color: white;
    position: relative;
    top: 10px;
    left: 60px;
    font-size: 0.8em;
    text-shadow: 0 0 10px;
}

.course-level::before{
    content: "Level - ";
}

.card:hover{
    box-shadow: 0 0 50px white;
    transform: scale(1.1);
}

/* courses */

.display #display-quiz{
    background-color: rgb(151, 52, 52);
}
.display #display-projects{
    background-color: rgb(25, 146, 14);
}