<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Courses</title>
    <link rel="stylesheet" href="./assets/css/course.css" />
  </head>
  <body>
    <div class="container">
      <div class="lessons" id="lessons">
        <!-- <div class="lesson">
          <div class="option">
            <div class="topic">JavaScript</div>
            <div class="action" id="show-desc">Description</div>
            <div class="action" id="watch">Watch</div>
          </div>
          <div class="description">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Id earum
            porro laudantium corporis, aspernatur explicabo perferendis unde,
            temporibus possimus fuga totam inventore debitis? Tenetur magni
            voluptates reprehenderit quo autem ipsum?
          </div>
        </div>

        <div class="lesson">
          <div class="option">
            <div class="topic">JavaScript</div>
            <div class="action" id="show-desc">Description</div>
            <div class="action" id="watch">Watch</div>
          </div>
          <div class="description">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Id earum
            porro laudantium corporis, aspernatur explicabo perferendis unde,
            temporibus possimus fuga totam inventore debitis? Tenetur magni
            voluptates reprehenderit quo autem ipsum?
          </div>
        </div>

        <div class="lesson">
          <div class="option">
            <div class="topic">JavaScript</div>
            <div class="action" id="show-desc">Description</div>
            <div class="action" id="watch">Watch</div>
          </div>
          <div class="description">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Id earum
            porro laudantium corporis, aspernatur explicabo perferendis unde,
            temporibus possimus fuga totam inventore debitis? Tenetur magni
            voluptates reprehenderit quo autem ipsum?
          </div>
        </div> -->
      </div>
      <!-- lessons -->
    </div>
    <script src="./assets/js/course.js" type="module"></script>
  </body>
</html>
